/* EJERCICIO 1 */
/* .alert {
  background-color: brown;
  padding: 10px 20px;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
} */

/* EJERCICIO 4 */
/* .js-paragraphs {
  background-color: rgb(118, 240, 240);
}

.orange {
  background-color: rgb(231, 121, 71);
} */

/* EJERCICIO 5 */
/* .red {
  background-color: #b43535;
}
.purple {
  background-color: #9063e9;
}
.black {
  background-color: black;
} */

/* EJERCICIO 7 Y 8 */
/* .btn {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border-style: none;
  background-color: #e78261;
}
.btnPress {
  background-color: #d44718;
} */

/* EJERCICIO 9 */
