/* Equipo */
h2 {
  height: 45px;
  font-family: Rubik-medium;
  font-size: 24px;
  color: #14d9c4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-Presentación {
  width: 290px;
  /* height: 504; */
  padding: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #54585a;
  margin: 16px;
}

/* Debilidades y Fortalezas */

h3 {
  display: block;
  color: #099d8d;
  font-family: Rubik-medium;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-fyd {
  width: 290px;
  padding: 15px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #54585a;
  background: #b8b8b9;
}
p {
  width: 290px;
}

/* .p1= 290, 284;
.p2, .p3 = W:290px H:192px
 */
