.header {
  background-color: rgb(247, 152, 129);
  color: rgb(23, 24, 2);
  text-transform: capitalize;
  /* display: flex;
  justify-content: center;
  text-align: center; */
}
.header__title {
  text-transform: uppercase;
  display: inline-block;
  padding-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: white;
}
.header__title--text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  color: white;
}
.col-xs-12,
.col-md-6,
.col-lg-3 {
  background-image: url(/img/cat-1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
}
.col-md-6 {
  background-image: url(/img/cat-2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
}
