* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.success {
  border-color: #0f5f0f;
  background-color: #c3f17c;
}
.error {
  border-color: #f74914;
  background-color: #dd7352;
}
.warning {
  border-color: #f7f305;
  background-color: #ecea72;
}
