.div1 {
  background: green;
  box-sizing: border-box;
  width: 100%;
  border: 2px;
  position: relative;
  top: 10px;
  left: 20px;
}

.div2 {
  margin: 50px;
  position: relative;
  width: 50%;
  background: yellow;
}
.div3 {
  width: 100vw;
  background: red;
}
