* {
  font-family: Helvetica, sans-serif;
  margin: 0px;
  box-sizing: border-box;
}
.header {
  padding: 50px;
}
.main {
  width: 100%;
  padding: 50px;
}
.form {
  text-align: center;
  margin-bottom: 50px;
}
.dark {
  background-color: black;
  color: white;
}
.light {
  background-color: hsl(36, 87%, 69%);
  color: rgb(68, 36, 70);
}
