/* Sección-Equipo-mobile- */

* {
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: "Rubik-Medium";
  src: url(https://fonts.google.com/specimen/Rubik?sidebar.open=true&selection.family=Rubik:wght@500);
}

:root {
  --titulo-equipo-: #14d9c4;
  --titulo-FyD-: #099d8d;
  --texto-párrafos: #54585a;
  --background-FyD: #b8b8b933;
}

.artículo-presentación {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.H2-Equipo {
  width: 89px;
  display: inline-block;
  font-size: 24px;
  line-height: 45px;
  color: var(--titulo-equipo-);
}

.p1 {
  width: 260px;
  padding: 0px 15px 30px 15px;
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: var(--texto-párrafos);
}

.Slide-Presentación {
  margin: 0px;
  display: flex;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
  align-content: center;
  position: relative;
}

.box-white {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  transform: rotate(45deg);
  position: relative;
  top: 15px;
  left: 50%;
  z-index: 1;
}
/* Debilidades y Fortalezas */

.Artículo-Fortalezas,
.Artículo-Debilidades {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  opacity: 1;
  overflow: auto;
}

.H3-Debilidades,
.H3-Fortalezas {
  opacity: 1;
  display: inline-block;
  color: var(--titulo-FyD-);
  width: 290px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  line-height: 45px;
  font-size: 22px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.P-Debilidades,
.P-Fortalezas {
  width: 260px;
  margin: auto;
  display: inline-block;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 45px;
  font-size: 16px;
  line-height: 24px;
  color: var(--texto-párrafos);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.Slide-Fortalezas-Debilidades {
  margin: 0px;
  padding: 30px 0px 45px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background-FyD);
}

/* @MediaQueries-Equipo-Tablet*/

@media (min-width: 768px) {
  * {
    box-sizing: border-box;
    margin: auto;
  }

  .Slide-Presentación {
    display: flex;
    flex-direction: row;
  }

  .p1,
  .H2-Equipo {
    margin: 0px;
    /* position: relative; */
  }

  .box-white {
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
  }

  .Slide-Fortalezas-Debilidades {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
  }
  .Artículo-Debilidades,
  .Artículo-Fortalezas,
  .H3-Debilidades,
  .H3-Fortalezas {
    justify-content: center;
    align-items: center;
  }
}
