.div1 {
  background: chocolate;
  padding: 50px;
  display: inline-block;
  color: blue;
  margin: 20px 40px;
}
.div2 {
  background: #662121;
  width: auto;
  display: inline-block;
}
.div3 {
  background: seagreen;
  border: solid 3px black;
}
