/* body */
* {
  margin: 0;
  padding: 0;
}
/* container */
.container {
  height: 100vh;
  background-color: #ffcc00;
}
/* face */
/* form */
.changecolor {
  height: 100vh;
  background-color: #ff9900;
}
