* {
  margin: 0px;
}
.areaBody {
  height: 100vh;
  width: auto;
  background-color: #af3131;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputText {
  align-items: center;
  margin: 0px 10px 0px 10px;
}
