* {
  margin: 0px;
  padding: 0px;
}
.Card {
  padding: 10px 10px 10px 10px;
  background-color: #eaecec;
  width: auto;
  height: 100vh;
}
.Card__front {
  background-color: #feffff;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 2px 10px #b9b8b8;
}
.Card__header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 20px;
}

.Card__simon {
  padding-right: 5px;
  width: 75px;
  border-radius: 100px;
  align-self: start;
}
.Card__title {
  display: flex;
  flex-direction: column;
}

.Card__title-date {
  align-self: flex-start;
}

.Card__small {
  margin-top: 10px;
  display: inline-block;
  color: #838383;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Card__likes {
  color: #000000;
}
